/* Estilos para el cuerpo de la página */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #A2CAB3;
    background-color: #01260E;
}

/* Estilos para los encabezados */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 1rem;
    color: var(--primary-color);
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

header h1 {
    color: #f0f0f0;
}

/* Estilos para los párrafos */
p {
    margin-top: 0;
    margin-bottom: 1rem;
}

/* Estilos para los enlaces */
a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: var(--secondary-color);
}

/* Estilos para el texto pequeño */
small {
    font-size: 0.875rem;
}

/* Estilos para el texto en negrita */
strong {
    font-weight: 700;
}